$success-color: #16be3e;
$navigator-color: #6e6d6d;
.main-container{
    border: 2px solid transparent;
    &.active{
        border: 2px solid rgba($success-color, 0.78);
        -webkit-transition : border 500ms ease-out;
        -moz-transition : border 500ms ease-out;
        -o-transition : border 500ms ease-out;
        transition : border 500ms ease-out;
    }
}
footer {
    position: absolute;
    text-align: center;
    bottom: 10%;
    width: 100%;
    .mat-button-base {
        color: #ffffff;
        border-radius: 0px;
        height: 4em;
        width: 4em;
        margin: 0 2px;
        &.mat-success{
            background-color:$success-color;
            &:hover{
                background-color: rgba($success-color, 0.88);
            }
            &:disabled {
                background: rgba($success-color, 0.58);
            }
        }
        &.mat-navigator{
            background-color: $navigator-color;
            &:hover{
                background-color: rgba($navigator-color, 0.88);
            }
            &:disabled {
                background: rgba($navigator-color, 0.58);
            }
        }
    }
}