$primary-color: #4f23b6;
$secondary-color: #ffffff;
::ng-deep.mat-button-toggle-group{
    background-color: $primary-color;
    border-radius: 0!important;
    padding: 1em;
    flex-wrap: wrap;
    .mat-button-toggle {
        background-color: $primary-color;
        margin: 0.4em;
        border: 2px solid $secondary-color!important;
        border-radius: 2px;
        .mat-button-toggle-button {
            .mat-button-toggle-label-content {
                color: $secondary-color;
                line-height: 1.5;
                padding: 0.2em 0.4em;
                span {
                    font-size: 10px;
                    vertical-align: inherit;
                }
            }
        }
    }
    .mat-button-toggle-checked {
        background-color: $secondary-color;
        .mat-button-toggle-button {
            .mat-button-toggle-label-content {
                color: $primary-color;
                font-weight: bold;
            }
        }
    }
}